In [1]:
import numpy as np
import pandas as pd

In [2]:
import numpy as np
import pandas as pd

In [3]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [ ]:
import csv

# Specify the file path
file_path = 'HR-Employee-Attrition.csv'
hr_data =  pd.read_csv('HR-Employee-Attrition.csv')
# Open the CSV file and read its contents
with open(file_path, 'r') as csv_file:
    data_read = csv.reader(csv_file)
    
    # Read each row in the CSV file
    for row in data_read:
        print(row)

In [5]:
hr_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       1470 non-null   int64
 1   Attrition                 1470 non-null   object
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(26), object(9)
memory usage: 402.1+ KB

In [13]:
# Calculate Attrition Rate
attrition_data = hr_data['Attrition'].value_counts(normalize=True) * 100
attrition_rate = attrition_data['Yes']

# Prepare data for analysis by key factors
# Here, we'll look at a few examples: Department, JobRole, DistanceFromHome, MonthlyIncome
attrition_by_department = hr_data.groupby('Department')['Attrition'].value_counts(normalize=True) * 100
attrition_by_job_role = hr_data.groupby('JobRole')['Attrition'].value_counts(normalize=True) * 100
attrition_by_distance = hr_data.groupby(pd.cut(hr_data['DistanceFromHome'], bins=3))['Attrition'].value_counts(normalize=True) * 100

# Average Monthly Income for those who left vs. those who stayed
average_income_by_attrition = hr_data.groupby('Attrition')['MonthlyIncome'].mean()

attrition_rate, attrition_by_department.unstack(), attrition_by_job_role.unstack(), attrition_by_distance.unstack(), average_income_by_attrition

C:\Users\Inspiron\AppData\Local\Temp\ipykernel_25444\2999303839.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  attrition_by_distance = hr_data.groupby(pd.cut(hr_data['DistanceFromHome'], bins=3))['Attrition'].value_counts(normalize=True) * 100

(16.122448979591837,
 Attrition                      No        Yes
 Department
 Human Resources         80.952381  19.047619
 Research & Development  86.160250  13.839750
 Sales                   79.372197  20.627803,
 Attrition                         No        Yes
 JobRole
 Healthcare Representative  93.129771   6.870229
 Human Resources            76.923077  23.076923
 Laboratory Technician      76.061776  23.938224
 Manager                    95.098039   4.901961
 Manufacturing Director     93.103448   6.896552
 Research Director          97.500000   2.500000
 Research Scientist         83.904110  16.095890
 Sales Executive            82.515337  17.484663
 Sales Representative       60.240964  39.759036,
 Attrition                No        Yes
 DistanceFromHome
 (0.972, 10.333]   85.964912  14.035088
 (10.333, 19.667]  79.534884  20.465116
 (19.667, 29.0]    78.602620  21.397380,
 Attrition
 No     6832.739659
 Yes    4787.092827
 Name: MonthlyIncome, dtype: float64)

In [7]:
# Distribution of Performance Ratings
performance_rating_distribution = hr_data['PerformanceRating'].value_counts(normalize=True) * 100

# Average Job Satisfaction
average_job_satisfaction = hr_data['JobSatisfaction'].mean()

# Average Environment Satisfaction
average_environment_satisfaction = hr_data['EnvironmentSatisfaction'].mean()

performance_rating_distribution, average_job_satisfaction, average_environment_satisfaction

(PerformanceRating
 3    84.62585
 4    15.37415
 Name: proportion, dtype: float64,
 2.7285714285714286,
 2.721768707482993)

In [8]:
# Performance Ratings and Attrition
performance_ratings = hr_data.groupby('PerformanceRating')['Attrition'].value_counts(normalize=True).unstack() * 100

# Job Satisfaction and Attrition
job_satisfaction = hr_data.groupby('JobSatisfaction')['Attrition'].value_counts(normalize=True).unstack() * 100

# Environment Satisfaction and its correlation with Job Satisfaction
environment_satisfaction = hr_data.groupby('EnvironmentSatisfaction')['Attrition'].value_counts(normalize=True).unstack() * 100

performance_ratings, job_satisfaction, environment_satisfaction

(Attrition                 No        Yes
 PerformanceRating
 3                  83.922830  16.077170
 4                  83.628319  16.371681,
 Attrition               No        Yes
 JobSatisfaction
 1                77.162630  22.837370
 2                83.571429  16.428571
 3                83.484163  16.515837
 4                88.671024  11.328976,
 Attrition                       No        Yes
 EnvironmentSatisfaction
 1                        74.647887  25.352113
 2                        85.017422  14.982578
 3                        86.313466  13.686534
 4                        86.547085  13.452915)

In [9]:
# Gender and Marital Status Distribution
gender_distribution = hr_data['Gender'].value_counts(normalize=True) * 100
marital_status_distribution = hr_data['MaritalStatus'].value_counts(normalize=True) * 100

# Age Distribution
age_distribution = hr_data['Age'].describe()

# Diversity in Leadership Roles
# Assuming 'JobLevel' as an indicator of leadership roles, with higher numbers indicating higher levels.
leadership_gender_distribution = hr_data.groupby('JobLevel')['Gender'].value_counts(normalize=True).unstack() * 100
leadership_age_distribution = hr_data.groupby('JobLevel')['Age'].mean()

gender_distribution, marital_status_distribution, age_distribution, leadership_gender_distribution, leadership_age_distribution

(Gender
 Male      60.0
 Female    40.0
 Name: proportion, dtype: float64,
 MaritalStatus
 Married     45.782313
 Single      31.972789
 Divorced    22.244898
 Name: proportion, dtype: float64,
 count    1470.000000
 mean       36.923810
 std         9.135373
 min        18.000000
 25%        30.000000
 50%        36.000000
 75%        43.000000
 max        60.000000
 Name: Age, dtype: float64,
 Gender       Female       Male
 JobLevel
 1         36.648250  63.351750
 2         41.198502  58.801498
 3         43.119266  56.880734
 4         48.113208  51.886792
 5         34.782609  65.217391,
 JobLevel
 1    32.524862
 2    36.599251
 3    40.087156
 4    47.537736
 5    47.753623
 Name: Age, dtype: float64)

In [10]:
# Average Monthly Income Analysis
average_income_by_department = hr_data.groupby('Department')['MonthlyIncome'].mean()
average_income_by_job_role = hr_data.groupby('JobRole')['MonthlyIncome'].mean()
average_income_by_gender = hr_data.groupby('Gender')['MonthlyIncome'].mean()
average_income_by_age = hr_data.groupby(pd.cut(hr_data['Age'], bins=4))['MonthlyIncome'].mean()

# Stock Option Levels Analysis
stock_options_by_department = hr_data.groupby('Department')['StockOptionLevel'].mean()
stock_options_by_gender = hr_data.groupby('Gender')['StockOptionLevel'].mean()

# Salary Hikes and Performance Ratings
salary_hikes_by_performance = hr_data.groupby('PerformanceRating')['PercentSalaryHike'].mean()

average_income_by_department, average_income_by_job_role, average_income_by_gender, average_income_by_age, stock_options_by_department, stock_options_by_gender, salary_hikes_by_performance

C:\Users\Inspiron\AppData\Local\Temp\ipykernel_25444\516351076.py:5: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  average_income_by_age = hr_data.groupby(pd.cut(hr_data['Age'], bins=4))['MonthlyIncome'].mean()

(Department
 Human Resources           6654.507937
 Research & Development    6281.252862
 Sales                     6959.172646
 Name: MonthlyIncome, dtype: float64,
 JobRole
 Healthcare Representative     7528.763359
 Human Resources               4235.750000
 Laboratory Technician         3237.169884
 Manager                      17181.676471
 Manufacturing Director        7295.137931
 Research Director            16033.550000
 Research Scientist            3239.972603
 Sales Executive               6924.279141
 Sales Representative          2626.000000
 Name: MonthlyIncome, dtype: float64,
 Gender
 Female    6686.566327
 Male      6380.507937
 Name: MonthlyIncome, dtype: float64,
 Age
 (17.958, 28.5]     3457.228682
 (28.5, 39.0]       5499.236232
 (39.0, 49.5]       8537.959885
 (49.5, 60.0]      10942.907514
 Name: MonthlyIncome, dtype: float64,
 Department
 Human Resources           0.777778
 Research & Development    0.804370
 Sales                     0.773543
 Name: StockOptionLevel, dtype: float64,
 Gender
 Female    0.780612
 Male      0.802721
 Name: StockOptionLevel, dtype: float64,
 PerformanceRating
 3    14.003215
 4    21.849558
 Name: PercentSalaryHike, dtype: float64)

In [11]:
# Work-Life Balance Ratings Analysis
work_life_balance_ratings = hr_data['WorkLifeBalance'].value_counts(normalize=True) * 100

# Analyzing average years at company and correlation with career growth indicators
average_years_at_company = hr_data['YearsAtCompany'].mean()
average_years_in_current_role = hr_data['YearsInCurrentRole'].mean()
average_years_since_last_promotion = hr_data['YearsSinceLastPromotion'].mean()

work_life_balance_ratings,average_years_at_company, average_years_in_current_role, average_years_since_last_promotion

(WorkLifeBalance
 3    60.748299
 2    23.401361
 4    10.408163
 1     5.442177
 Name: proportion, dtype: float64,
 7.0081632653061225,
 4.229251700680272,
 2.1877551020408164)